//input
@mixin input($padding) {
  width: 100%;
  padding: $padding;
  border-radius: 3.5px;
}

//link underline
@mixin submitButton($font-size) {
  font-size: $font-size;
  background: $Bright-Blue;
  border: none;
  color: $Light-Grayish-Blue;
  text-transform: capitalize;
  font-family: $headings-nav-bottons-font;
  letter-spacing: 0.5px;
  display: block;
  margin: auto;
  font-weight: 600;
  white-space: normal;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: lighten($Bright-Blue, 5%);
  }
}

//layout for big screen grid
@mixin gridLayout() {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b";
  align-items: center;
}
